<% require 'date' %>

<%= image_tag("http://assets.nydailynews.com/polopoly_fs/1.3349553.1500839671!/img/httpImage/image.jpg_gen/derivatives/article_750/usa-politics-white-house-scaramucci.jpg") %>

<% mooch = 10 %>




<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/ur_mooches" do %>

    	<%= form_tag "/ur_mooches" do %>
    	<p>Enter a date in the Mooch Timeline</p>
    	<%= select_date Date.today,:start_year=>1500, :end_year=> 2030, :prefix => :ur_date %>
      <button class="btn btn-primary">Count da MOOCHES!</button>

    <% end %>

    <% end %>


  </div>
  <div class = "row">
  	<p> British Colonists Founded Jamestown <%=  ((Date.today - Date.new(1607,05,14)).to_i)/10  %> Mooches Ago</p>
  </div>	
  </div>

  <div class = "row">
  	<p> The Salem Witch Trials began <%= ((Date.today - Date.new(1692,02,1)).to_i)/10 %> Mooches Ago</p>
  </div>

  </div>

  <div class = "row">
  	<p> George Washington was born <%= ((Date.today - Date.new(1732,02,22)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>

  <div class = "row">
  	<p> The Boston Massacre occured <%=  ((Date.today - Date.new(1770,03,05)).to_i)/10 %> Mooches Ago</p>
  </div>

  <div class = "row">
  	<p> The British Parliament passed the Tea Act <%=  ((Date.today - Date.new(1773,05,10)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>

	<div class = "row">
	<p> George Washington surrendered his command of the US Continental Army to congress, reaffirming that the military is subordinate to civilian rule - <%=  ((Date.today - Date.new(1773,05,10)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>

  <div class = "row">
  	<p> George Washington died <%=  ((Date.today - Date.new(1799,12,14)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>

  <div class = "row">
  	<p> Aaron Burr killed Hamilton in a duel <%=  ((Date.today - Date.new(1804,07,11)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>

  <div class = "row">
  	<p> Former presidents Jefferson and Adams died within hours of each other, <%=  ((Date.today - Date.new(1862,07,04)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>

  <div class = "row">
  	<p> The California Gold Rush began <%=  ((Date.today - Date.new(1849,01,01)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>

  <div class = "row">
  	<p> South Carolina seceded from the Union <%=  ((Date.today - Date.new(1860,12,20)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>

  <div class = "row">
  	<p> The Chicago Fire began <%=  ((Date.today - Date.new(1871,10,8)).to_i)/10 %> Mooches Ago </p>
  </div>	
  </div>

  <div class = "row">
  	<p> The only two cars in Ohio crashed into each other <%=  ((Date.today - Date.new(1895,1,29)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>


  <div class = "row">
  	<p> World War 2 ended <%=  ((Date.today - Date.new(1945,05,8)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>


  <div class = "row">
  	<p> Hawaii became the 50th state <%=  ((Date.today - Date.new(1959,8,21)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>

  <div class = "row">
  	<p> Joe was born <%=  ((Date.today - Date.new(1990,8,14)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>

  <div class = "row">
  	<p> Collin was born <%=  ((Date.today - Date.new(1993,3,21)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>


  <div class = "row">
  	<p> The Backstreet Boys had their first performance <%=  ((Date.today - Date.new(1993,5,8)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>

  <div class = "row">
  	<p> George Washington's unpublished memoirs are discovered under the floor boards in Mount Vernon <%=  ((Date.today - Date.new(1999,4,1)).to_i)/10 %> Mooches Ago - They were fakes</p>
  </div>	
  </div>

  <div class = "row">
  	<p> September 11th was  <%=  ((Date.today - Date.new(2001,9,11)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>


  <div class = "row">
  	<p> Barack Obama was elected <%=  ((Date.today - Date.new(2008,11,6)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>

  <div class = "row">
  	<p> The New York Giants last won the Super Bowl  <%=  ((Date.today - Date.new(2012,2,5)).to_i)/10 %> Mooches Ago </p>
  </div>	
  </div>


  <div class = "row">
  	<p> The Mooch was hired <%=  ((Date.today - Date.new(2017,07,21)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>


  <div class = "row">
  	<p> The Mooch was fired <%=  ((Date.today - Date.new(2017,07,31)).to_i)/10 %> Mooches Ago</p>
  </div>	
  </div>



</div>